*{
    ---red: rgb(153, 7, 7);
    ---white: rgb(218, 212, 212);
    box-sizing: border-box;
    font-family: 'Times New Roman', serif;
    color: rgb(218, 212, 212);   
}
body {
    padding: 0%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 64, 64);
}
img {
    width: 100%;
}
a {
    text-decoration: none;
}