.img_bienbenida {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    /* object-fit: cover; */
    
}
.img_bienbenida img {
    width: 100%;
}
.img_bienbenida::before {
    content: "";
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 28%;
    background-image: linear-gradient(transparent, black);    
}
.tituloPrincipal {
    position: absolute;
    width: 40%;
}

.parrafo_fondo_negro{
    display: flex;
    padding: 12px;
    gap: 12px;
    background-color: #020101;
}

.titulos {
    font-size: 35px;
    display: flex;
    justify-content: center;
    margin: 24px 0;
    
}
.titulo_body {
    z-index: 900;
    border-radius: 12px;
    color: rgb(218, 212, 212);
    padding: 12px;
    background: var(---red);
    
}

.parrafo_fondo_negro p {
    flex: 2;
    color: rgb(218, 212, 212);
}

.parrafo_fondo_negro img {
    flex: 1;
}
.tancision {
    content: "";
    position: absolute;
    width: 100%;
    height: 86px;
    background-image:  linear-gradient(black, transparent);;
}
.card_ubicacion {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.card_ubicacion div {
    width: 80%;
    border-radius: 8px;
    text-align: center;
    padding: 12px;
    color: rgb(218, 212, 212);
    background-color: var(---red);
}
.form {
    margin-bottom: 12px;
    border-radius: 6px;
    display: flex;
    padding: 24px;
    width: 80%;
    flex-direction: column;
    gap:12px;
    background-color: var(---red);
}
.form label {
    font-size: 20px;
}
.form input {
    
    font-size: 20px;
    background: transparent;
    border-style: none none solid none;
    outline: none;
}
.form button {
    font-size: 20px;
    width: 20%;
    background: black;

}
.form button:hover {
    font-size: 20px;
    width: 20%;
    background: rgb(48, 46, 46);
    
}